
-
    function uid() {
        this.counter = this.counter || 0;
        return 'uid-' + this.counter++;
    }

mixin inputField(type, name, label, options)
    -
        options = Object.assign({
            id: uid()
        }, options);

    case type
        when 'textarea'
            .input-field
                textarea.materialize-textarea(name=name, id=options.id)&attributes(attributes)
                label(for=options.id)= label
        default
            .input-field
                input(type=type, name=name, id=options.id)&attributes(attributes)
                label(for=options.id)= label

mixin icon(key)
    i.material-icons= key

mixin button(label)
    button.waves-effect.waves-light.btn&attributes(attributes)= label

mixin link(label, href)
    a.waves-effect.waves-light.btn(href=href)&attributes(attributes)= label

mixin routerLink(label)
    router-link.waves-effect.waves-light.btn&attributes(attributes)= label

mixin cardWithImage(image)
    .col.s12.m8.offset-m2.l6.offset-l3
        .card-panel.grey.lighten-5.z-depth-1
            .row.valign-wrapper
                .col.s4.m2
                    img.circle.responsive-img.valign(src=image)
                .col.s8.m10
                    block

mixin cardWithImageTitle(title, image)
    .card
        .card-image
            img(src=image)
        .card-content
            span.card-title= title
            block

mixin cardComment(comment)
    //.card
        .card-content
            span.card-title!= comment.content
    li.card-comment.collection-item.avatar(style="min-height: auto")
        img.circle(src=comment.user.avatar || "https://api.adorable.io/avatars/157/" + comment.user.username)
        span.title(style="font-weight: bold")= comment.user.description
        span.date(data-date=comment.createdAt.toISOString(), style="float:right")
        p!= comment.content

mixin pagination(current, total)
    -
        var isFirst = current == 0;
        var isLast = current == total -1
        var pages = [];
        for (var i=0; i<total;i++) {
            pages.push(i);
        }
    ul.pagination(style="float:right")
        li(class=isFirst?'disabled':'waves-effect')
            a(href=isFirst ? false : '?page=' + (current - 1)): i.material-icons chevron_left
        each page in pages
            li(class=page == current ? 'active' : 'waves-effect')
                a(href=page != current ? ('?page=' + page) : false)= page + 1
        li(class=isLast?'disabled':'waves-effect')
            a(href=isLast ? false : '?page=' + (current + 1)): i.material-icons chevron_right


mixin cardGift(gift, hideStock)
    .col.m6
        .card.gift
            .card-image(style="background-image: url(" + gift.image + "); height: 250px; background-size: cover;")
                //img(src=gift.image)
                if gift.totalStock === false || gift.stock > 0
                    -
                        var href = '/addToCart?giftId=' + gift._id;
                    a.btn-floating.halfway-fab.waves-effect.waves-light.red(href=href)
                        +icon('add_shopping_cart')
            .card-content
                span.card-title= gift.name
                = gift.description
                .js-filler
                div
                    br
                    if (!hideStock)
                        if (gift.totalStock !== false)
                            p(style="float: left") Quedan #{gift.stock} disponibles (total #{gift.totalStock})
                        else
                            p(style="float: left") Infinitos! Se han comprado un total de #{gift.stock}

                    p(style="float: right; font-size: 22px")= gift.price + ' €'
                    br

mixin cardPurchase(purchase)
    - var gift = purchase.gift;
    .col.m6
        .card.purchase
            .card-image
                img(src=gift.image)
                -
                    var href = '/removeFromCart?purchaseId=' + purchase._id;
                a.btn-floating.halfway-fab.waves-effect.waves-light.red(href=href)
                    +icon('remove_shopping_cart')
            .card-content
                span.card-title= gift.name
                = gift.description
                .js-filler
                div
                    br
                    p(style="float: right; font-size: 22px")= gift.price + ' €'
                    br

mixin header
    .row
        .col.s12
            ul.header.hide-line(style="overflow: hidden")
                li.header-item: +headerA('/'): +icon('home')
                li.header-item: +headerA('/gifts'): | Lista de regalos
                li.header-item: +headerA('/account'): | Mi cuenta
                li.header-item: +headerA('/comments'): | Comentarios
                //li.header-item: +headerA('/logout'): | Cerrar sesión
                if (user.admin)
                    li.header-item: a(href="/admin") Admin

mixin headerAdmin
    .row
        .col.s12
            ul.header.hide-line(style="overflow: hidden")
                li.header-item: a(href="/") Salir de admin
                //li.header-item: a(href="/admin/gifts/new") Añadir regalo

mixin headerA(linkUrl)
    -
        var classes = '';
        if (url.indexOf(linkUrl) == 0) {
            classes = 'active';
        }
    a(href=linkUrl, class=classes)
        block
mixin alert(type, title)
    case type
        when 'info'
            .card-panel.blue.lighten-4.blue-text.text-darken-4
                strong= title || ''
                = ' '
                block
        when 'success'
            .card-panel.green.lighten-4.green-text.text-darken-4
                strong= title || 'Wooo!'
                = ' '
                block
        when 'warning'
            .card-panel.yellow.lighten-4.yellow-text.text-darken-4
                strong= title || '¡Cuidado!'
                = ' '
                block
        when 'error'
            .card-panel.red.lighten-4.red-text.text-darken-4
                strong= title || '¡Error!'
                = ' '
                block
